@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

button {
    background: transparent;
    border: 0;
    padding: 20px 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
}

button:hover {
    background: #ddd;
}

button.bt-m {
    padding: 20px 0px;
    width: 164px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 600;
}



.red {
    color: #D50000;
}

.today {
    background-color: #7B1FA2;
    color: #fff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .25;
    }

    50% {
        opacity: .50;
    }

    100% {
        opacity: 1;
    }
}

.t-container {
    max-width: 360px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    letter-spacing: normal;
}

.t-show-days,
.t-show-months,
.t-show-years {
    box-shadow: 0px 10px 20px 0px #ddd;
}

.animate {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.t-cal-header {
    background: #fbfbfb;
}

.t-month-header {
    font-size: 18px;
    padding: 15px 0px;
    color: #000;
}

.t-weekday {
    min-width: 50px;
    display: inline-block;
    cursor: pointer;
}

.t-month-body {
    color: #636363;
    padding-bottom: 14px;
}

.t-month-body .t-weekday {
    padding: 12px 0px;
}

.t-month-body .t-weekday:hover {
    background-color: #CE93D8;
    color: #000;
    transition: background-color 200ms linear;
}

.t-month-body .t-weekday.not-hover:hover {
    background-color: #fff;
    color: #000;
    cursor: default;
}

.t-months-body span,
.t-decade-body span {
    min-width: 86px;
    display: inline-block;
    padding: 24px 10px;
    cursor: pointer;
    font-size: 18px;
}

.t-months-body span:hover,
.t-decade-body span:hover {
    background-color: #CE93D8;
    color: #000;
    transition: background-color 200ms linear;
}

.t-yr-header {
    position: relative;
}

.t-decade-body span {
    min-width: 86px;
    display: inline-block;
}


.t-month-bar {
    position: relative;
}

.t-decade-header {
    position: relative;
}

.bt-l {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.bt-r {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.t-decade-title {
    padding: 16px 0px;
    width: 196px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 600;
}

.t-dark-mood {
    background: #282828;
}

.t-dark-mood .t-cal-header {
    background: #363636;
}

.t-dark-mood button,
.t-dark-mood .t-decade-title {
    color: #ddd;
}

.t-dark-mood button:hover {
    color: #000;
}

.t-dark-mood .t-month-header {
    color: #b3afaf;
}

.t-dark-mood .t-month-body {
    color: #a1a1a1;
}

.t-dark-mood .red {
    color: #e33c3c;
}

.t-dark-mood .t-months-body {
    color: #b8b8b8;
}

.t-dark-mood .t-decade-body {
    color: #b8b8b8;
}

.t-dark-mood .today {
    background-color: #58535b;
    color: #fff;
}

.t-dark-mood .t-month-body .t-weekday:hover {
    background-color: #c6c6c6;
    color: #000;
    transition: background-color 200ms linear;
}

.t-dark-mood .t-month-body .t-weekday.not-hover:hover {
    background-color: #282828;
    color: #000;
    cursor: default;
}

.t-dark-mood .t-months-body span:hover,
.t-dark-mood .t-decade-body span:hover {
    background-color: #c6c6c6;
    color: #000;
    transition: background-color 200ms linear;
}